@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --font-poppins: "Poppins", 'sans-serif';
    --font-spartan: 'League Spartan', sans-serif;
    --typewriterSpeed: 2s;
    --typewriterCharacters: 62;
    --bg-cover: url('assets/hero.png');
    --bg-form: url('assets/dreams1.jpg');
    --btn-bg: rgba(175, 175, 175, 0.39);
    --btn-text: rgba(0, 0, 0, 0.616);
    --btn-text-hover: rgba(0, 0, 0, 0.747);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    transition: .2s linear;
    outline: none;
    border: none;
}

html {
    scroll-behavior: smooth;
}

/* '''''''''''''''''''''''''''''''''''''''''''''''''HOME'''''''''''''''''''''''''''''''''''''''''''''''*/

header .navbar {
    display: flex;
    justify-content: center;
    margin-block: 1rem;
}

header .navbar a {
    margin-right: 2rem;
    text-transform: uppercase;
    font-family: var(--font-poppins);
    font-size: 19px;
    font-weight: 500;
    letter-spacing: 2px;
    padding: 15px;
    color: black;
}

header .navbar a:hover {
    background: var(--btn-bg);
    transform: translateY(-5px);
    color: var(--btn-text-hover);
}

header .icon {
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 30px;
    cursor: pointer;
    display: none;
    z-index: 999;
}

.logo img {
    position: absolute;
    z-index: 999;
    width: 180px;
    margin-inline-start: 5%;
}

main .background {
    height: 50vh;
    background-image: linear-gradient(rgba(80, 42, 230, 0.178), rgba(117, 117, 117, 0.445)), url('assets/hero.png');
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    position: sticky;
}

main .article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-block-end: 5rem;
    margin-block-start: 3rem;
}

main .article .title {
    font-size: 55px;
    font-family: var(--font-spartan);
    font-weight: 800;
    letter-spacing: -2px;
    margin-block-start: 3rem;
    margin-block-end: 2rem;
    position: relative;
    width: fit-content;
}

.article .title::before,
.article .title::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.article .title::before {
    background: white;
    animation: typewriter var(--typewriterSpeed) steps(var(--typewriterCharacters)) forwards;
}

.article .title::after {
    width: 0.125em;
    background: black;
    animation: typewriter var(--typewriterSpeed) steps(var(--typewriterCharacters)) forwards, blink var(--typewriterSpeed) steps(var(--typewriterCharacters)) forwards;
}

@keyframes typewriter {
    to {
        left: 100%;
    }
}

@keyframes blink {
    to {
        background: transparent;
    }
}

main .article p {
    max-width: 700px;
    font-size: 18px;
    font-family: var(--font-poppins);
    text-align: center;
}

main .start-btn {
    cursor: pointer;
    padding: 15px 30px;
    margin-block: 5rem;
    font-family: var(--font-poppins);
    font-size: 20px;
    font-weight: 800;
    color: var(--btn-text);
    text-transform: uppercase;
    background-color: #e9e9e9c8;
}

main .start-btn button:hover {
    background: var(--btn-bg);
    transform: translateY(-5px);
    color: var(--btn-text-hover);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
    margin: 0 auto;
    margin-block-end: 5rem;
}

main .main-photo {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    justify-content: center;
    width: 100%;
    margin: 0 auto;
}

main .main-photo img {
    width: 260px;
    align-items: center;
}

main .main-photo img:hover {
    transform: scale(1.05);
}

main .main-banner {
    width: 100%;
    margin-block-start: 13%;
}

.reveal {
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s linear;
}

.reveal.active {
    transform: translateY(0px);
    opacity: 1;
}

main .container-hndmade .article .hndmade-title {
    font-size: 55px;
    font-family: var(--font-spartan);
    font-weight: 800;
    letter-spacing: -2px;
    margin-block-end: 2rem;
}

main .container-hndmade .hndmade-btn {
    cursor: pointer;
    padding: 15px 30px;
    font-family: var(--font-poppins);
    font-size: 20px;
    font-weight: 800;
    color: var(--btn-text);
    background-color: #e9e9e9c8;
    text-transform: uppercase;
    margin-block-start: 5rem;
    box-shadow: 0 60px 12px -80px rgba(0, 0, 0, 0.1), 0 60px 20px -12px rgba(0, 0, 0, 0.1);
    animation: anime 1s infinite ease-in-out alternate;
    -webkit-animation: anime 1s infinite ease-in-out alternate;
}

main .container-hndmade .hndmade-btn button {
    animation-delay: .3s;
}

@keyframes anime {
    100% {
        transform: translateY(20px);
        -webkit-transform: translateY(20px);
        -moz-transrform: translateY(20px);
        -ms-transform: translateY(20px);
        -o-transform: translateY(20px);
        box-shadow: 0 40px 10px -18px rgba(0, 0, 0, 0.01), 0 40px 16px -12px rgba(0, 0, 0, 0.01);
    }
}

.benefits ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-block-start: 5rem;
    margin-block-end: 10rem;
}

.benefits li {
    width: 170px;
    height: 170px;
    margin-inline: 30px;
    margin-block: 20px;
    list-style-type: none;
}

.benefits ul li button {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    text-align: left;
    font-family: var(--font-spartan);
    text-transform: uppercase;
    font-size: 30px;
    padding-inline: 3px;
    font-weight: 700;
    color: white;
    background-size: 300%;

}

.benefits ul li .origin {
    background-image: linear-gradient(45deg, #132e51, #324b6b, #1c5baf, #6ba4ee);
    animation: bg-animation 3s infinite;
    animation-direction: alternate;
}

.benefits ul li .aut {
    background-image: linear-gradient(45deg, #0a1b31, #214678, #2a5b9b, #5780b6);
    animation: bg-animation 3s infinite;
    animation-direction: alternate;
}

.benefits ul li .job {
    background-image: linear-gradient(45deg, #0a1b31, #1f5294, #4d7dbb, #a9c6ea);
    animation: bg-animation 3s infinite;
    animation-direction: alternate;
}

.benefits ul li .material {
    background-image: linear-gradient(45deg, #0a1b31, #0d3d7c, #2e6ab7, #76a8e5);
    animation: bg-animation 3s infinite;
    animation-direction: alternate;
}

@keyframes bg-animation {
    0% {
        background-position: left;
    }

    100% {
        background-position: right;
    }
}

footer .top-page {
    text-decoration: none;
    font-family: var(--font-spartan);
    font-weight: 700;
    border-radius: 50%;
    color: white;
    width: 50px;
    height: 50px;
    background-image: linear-gradient(120deg, white, rgb(1, 1, 74));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    position: fixed;
    bottom: 5%;
    right: 5%;
    display: none;
}

footer .top-page:hover {
    background-image: linear-gradient(120deg, rgb(1, 1, 74), white);
    color: rgb(1, 1, 74);
}

/* '''''''''''''''''''''''''''''''''''''''''''''''''HOME'''''''''''''''''''''''''''''''''''''''''''''''*/

/* '''''''''''''''''''''''''''''''''''''''''''''''''AUTHORS'''''''''''''''''''''''''''''''''''''''''''''''*/
header .banner-portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header .banner-portfolio img {
    width: 70%;
    margin: 0 auto;
}

main .container-portfolio {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

main .article .big {
    font-size: 65px;
    margin-top: 0;
}

main .container-portfolio img {
    width: 400px;
    padding: 10px;
}

main .article .hndmade-title {
    font-size: 55px;
    font-family: var(--font-spartan);
    font-weight: 800;
    letter-spacing: -2px;
    padding-block-end: 2rem;
    padding-block-start: 2rem;
    text-align: left;
    margin: 0 auto;
}

main .lets-btn {
    cursor: pointer;
    padding: 15px 30px;
    font-family: var(--font-poppins);
    font-size: 20px;
    font-weight: 800;
    color: var(--btn-text);
    text-transform: uppercase;
    margin-block-start: 5rem;
    background-color: #e9e9e9c8;
}

main .photogallery {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

main .photogallery img {
    padding: 5px;
    width: 240px;
}

.nature-products {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: repeat(1, minmax(0, 1fr));
    width: 950px;
    margin: 0 auto;
    padding-block-start: 8rem;
    padding-block-end: 5rem;
}

.grid-photo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 10px;
    margin: 0 auto;
}

.nature-products img {
    width: 100%;
}

.grid-photo img {
    filter: grayscale(1) brightness(70%);
}

.grid-photo img:focus {
    filter: grayscale(0);
}

.nature-products article h3,
h4,
h5 {
    font-size: 35px;
    line-height: 40px;
    font-family: var(--font-spartan);
    font-weight: 800;
    letter-spacing: -2px;
    text-align: left;
    margin: 0 auto;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: rgb(0, 0, 0);
    animation: fadeIn 3s ease 10 normal forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

.nature-products article p {
    font-size: 18px;
    font-family: var(--font-poppins);
    text-align: left;
    padding-inline-end: 3rem;
    padding-block-end: 2rem;
    color: rgb(62, 62, 62);
}

main .article .contact-btn {
    cursor: pointer;
    padding: 15px 30px;
    font-family: var(--font-poppins);
    font-size: 20px;
    font-weight: 800;
    color: var(--btn-text);
    background-color: #e9e9e9c8;
    text-transform: uppercase;
    margin-block-start: 5rem;
    box-shadow: 0 60px 12px -80px rgba(0, 0, 0, 0.1), 0 60px 20px -12px rgba(0, 0, 0, 0.1);
    animation: anime 1s infinite ease-in-out alternate;
    -webkit-animation: anime 1s infinite ease-in-out alternate;
}

main .article .contact-btn {
    animation-delay: .3s;
}

footer .sale {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}

footer .sale img {
    width: 250px;
}

.sale-new ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-block-start: 5rem;
    margin-block-end: 10rem;
}

.sale-new li {
    width: 170px;
    height: 170px;
    margin-inline: 30px;
    margin-block: 20px;
    list-style-type: none;
}

.sale-new ul li button {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    text-align: left;
    padding-inline: 4px;
    font-family: var(--font-spartan);
    text-transform: uppercase;
    font-size: 29px;
    font-weight: 700;
    color: white;
    background-size: 300%;
}

@keyframes bg-colorAnimation {
    0% {
        background-position: left;
    }

    100% {
        background-position: right;
    }
}

.sale-new ul li .brown {
    background-image: linear-gradient(45deg, #ac7c5c, #bb9374, #c8aa94, #dbc4b4);
    animation: bg-animation 3s infinite;
    animation-direction: alternate;
}

.sale-new ul li .yellow {
    background-image: linear-gradient(45deg, #cb932c, #d4a753, #ddb978, #cc9c44);
    animation: bg-animation 3s infinite;
    animation-direction: alternate;
}

.sale-new ul li .grey {
    background-image: linear-gradient(45deg, #bcac8c, #d0c8b3, #dcd4cc, #bcac8c);
    animation: bg-animation 3s infinite;
    animation-direction: alternate;
}

.sale-new ul li .blue {
    background-image: linear-gradient(45deg, #a4d4cc, #bededc, #d4ece4, #cbe4e4);
    animation: bg-animation 3s infinite;
    animation-direction: alternate;
}

/* '''''''''''''''''''''''''''''''''''''''''''''''''CONTACT'''''''''''''''''''''''''''''''''''''''''''''''*/

.contact-blocks1{
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: repeat(1, minmax(0, 1fr));  
}

.contact-blocks1 .item1{
    background: url(assets/dreams1.jpg);
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    grid-column: 1/5;
    grid-row: 1/2;
}

.contact-blocks1 .item2{
    grid-column: 3/5;
    grid-row: 1/2;
    background: #a7918281;
}

.contact-blocks1 .item2 article{
    text-align: left;
    padding-block: 3rem;
    padding-inline: 3rem;
}

.contact-blocks1 .item2 article p{
    font-family: var(--font-poppins);
    font-size: 18px;
    padding-block-end: 2rem;
}

.contact-blocks1 .item2 article h1{
    font-family: var(--font-spartan);
    font-size: 70px;
    font-weight: 900;
    padding-block-start: 2rem;
    padding-block-end: 2rem;
    color: #322c2f;
}

.contact-blocks2{
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: repeat(1, minmax(0, 1fr)); 
}

.contact-blocks2 .item3{
    background: url(assets/dreams.jpg);
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    grid-column: 1/5;
    grid-row: 1/2;
}

.contact-blocks2 .item4{
    grid-column: 1/3;
    grid-row: 1/2;
    background: #33597f60;
}

.contact-blocks2 .item4 form{
    text-align: left;
    padding-block: 3rem;
    padding-inline: 3rem;
}

.contact-blocks2 .item4 form .message{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-block: 2rem;
}

.contact-blocks2 .item4 form .message h2{
    font-size: 70px;
    font-family: var(--font-spartan);
    font-weight: 900;
    color: #2b4b5a;
}

.notificationName, .notificationEmail {
    width: 80%;
    color: white;
    font-family: var(--font-spartan);
    background: #2b4b5a4a;
    border-radius: 5px;
    margin-block: 0.5rem;
    padding-block: 0.5rem;
    padding-inline:0.5rem;
    display: none;
}

.contact-blocks2 .item4 form .message input, textarea, ::placeholder{
    background: transparent;
    border-bottom: 0.5px solid #2b4b5a4a;
    font-family: var(--font-poppins);
    font-size: 18px;
    margin-block: 10px;
    width: 80%;
    text-align: left;
    color: #193f50dc;
    outline: none;
}

.contact-blocks2 .item4 form .message .submit{
    border: none;
    font-size: 30px;
    font-weight: 900;
    letter-spacing: 1px;
    background: #3b4e5644;
    color: #0e2f3f;
    text-transform: uppercase;
    width: 200px;
    text-align: center;
    cursor: pointer;
    margin-block-start: 3rem;
    padding: 10px;
}

.contact-blocks2 .item4 form .message .submit:hover{
    background: #3b4e5600;
    transform: translateY(-5px);
}

/* '''''''''''''''''''''''''''''''''''''''''''''''''/CONTACT'''''''''''''''''''''''''''''''''''''''''''''''*/











@media (max-width: 800px) {
    .logo img {
        width: 130px;
        margin-block-start: 6%;
    }

    header .icon {
        display: inline-block;
        z-index: 999;
        color: white;
    }

    header .navbar {
        z-index: 999;
        position: absolute;
        width: 100%;
        height: 60%;
        background-color: rgba(160, 160, 160, 0.913);
        display: none;
        margin-block: 0;
    }

    nav.navbar.active {
        display: block;
    }

    header .navbar a {
        display: block;
        text-align: left;
        color: white;
        font-weight: 700;
        font-size: 30px;
        margin-block: 0.5rem;
        margin-inline-start: 0.5rem;
        padding-block: 4%;
    }

    header .navbar a:hover {
        transform: translateX(0);
        background: none;
        color: white;
    }

    main .background {
        height: 100px;
        background-size: cover;
        background-repeat: no-repeat;
    }
}